@model FormViewModel

@{
    ViewData["Title"] = "Forms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Form - @Model.FormName</h2>

<h3>Description</h3>
<p>@Model.Description</p>
<h3>Created</h3>
<p>@Model.Created</p>
@Html.ActionLink("Edit", "Edit", "Forms", new { id = Model.Id }) |
@Html.ActionLink("Details", "Details", "Forms", new { id = Model.Id }) |
@Html.ActionLink("Delete", "Delete", "Forms", new { id = Model.Id })
<table class="table">
    <thead>
        <tr>
            <th>
                Elements
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in ViewBag.ElementDictionary)
{
    <tr>
        <td>
            @item.Value
        </td>
        <td>
            @Html.ActionLink("Details", "Details", "Elements", new { id = item.Key }) |
            @Html.ActionLink("Edit", "Edit", "Elements", new { id = item.Key }) |
            @Html.ActionLink("Delete", "Delete", "Elements", new { id = item.Key })
        </td>
    </tr>
}
    </tbody>
</table>
@Html.ActionLink("Add new Element", "Create", "Elements", new { id = Model.Id.ToString() })