@model ProjectViewModel

@{
    ViewData["Title"] = "Project";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Project - @Model.DisplayName</h2>

<h3>Description</h3>
<p>@Model.Description</p>
<h3>Created</h3>
<p>@Model.Created</p>
@Html.ActionLink("Edit", "Edit", "Projects", new { id = Model.ProjectCodeName }) |
@Html.ActionLink("Details", "Details", "Projects", new { id = Model.ProjectCodeName }) |
@Html.ActionLink("Delete", "Delete", "Projects", new { id = Model.ProjectCodeName })
<table class="table">
    <thead>
        <tr>
            <th>
                Form Name
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.FormDictionary)
        {
            <tr>
                <td>
                    @item.Value
                </td>
                <td>
                    @Html.ActionLink("Details", "Index", "Forms", new { id = item.Key })
                </td>
            </tr>
        }
    </tbody>
</table>
